<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JokeText.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9DC66EEC1BF3672D00BF2C0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DC66F001BF3672E00BF2C0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DC66F0B1BF3672E00BF2C0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
